{% load i18n %}{% load humanize %}

<article class="item">                
    <div class="row">
        <h3 class="post-title col-md-12 col-sm-12 col-xs-12 col-md-push-0 col-sm-push-0 col-xs-push-0">
          <a href="{{link.get_absolute_url}}">{{link.title}}</a>
        </h3>
        <div class="clearfix"></div>                            
        <div class="content-wrapper col-md-12 col-sm-12 col-xs-12">
            <div class="content">
              <div class="domain text-muted"><a href="{{link.link}}">{{link.domain}}</a> | {% trans "by" %} {{link.user.username}} {{link.created_on|naturaltime}}</div>
              <div class="desc">
                  {{link.description|truncatechars:180}}
              </div><!--//desc-->
            </div><!--//content-->
        </div><!--//content-wrapper-->   
    </div><!--//row-->            
</article><!--//item-->