{% load i18n %}

<article class="item">                
    <div class="row">
        <h3 class="post-title col-md-10 col-sm-9 col-xs-12 col-md-push-2 col-sm-push-3 col-xs-push-0">
          <a href="blog-post.html">{{link.title}}</a>
        </h3>
        <div class="clearfix"></div>
        <div class="meta col-md-2 col-sm-3 col-xs-12 text-right">
            <ul class="meta-list list-unstyled">                                       
              <li class="post-time post_date date updated">
                <span class="date">{{link.created_on|date:"j"}}</span>
                <span class="month">{{link.created_on|date:"M"}}</span>
              </li>  
              <li class="post-author">{{link.user.username}}</li>
          </ul><!--//meta-list-->                             
        </div><!--//meta-list-->                    
        <div class="content-wrapper col-md-10 col-sm-9 col-xs-12">
            <div class="content">
              <div class="domain">{{link.domain}}</div>
              <div class="desc">
                  {{link.description|truncatechars:180}}
                  <a class="read-more" href="blog-post.html">{% trans "Read more" %} <i class="fa fa-long-arrow-right"></i></a>
              </div><!--//desc-->
            </div><!--//content-->
        </div><!--//content-wrapper-->   
    </div><!--//row-->            
</article><!--//item-->