.the-page {
	min-height: 100vh;
	overflow: hidden;
}

.account {
	padding-top:0px;
}

.account .form-control {
	max-width: 600px
}

.domain {
	font-size:12px;
}

.blog-list {
    padding: 0px 0;
}

.blog-post-wrapper {
    padding-top: 20px;
}

.blog-list .container {
    max-width: 750px;
}

.margin-top {
	margin-top:15px;
}

.blog-list .item .post-title {
    margin-bottom: 5px;
}