{% extends "base.html" %}
{% load i18n %}
{% block all_content %} 
  <section class="section-404 section">
    <div class="container text-center">
        <h2 class="title-404 text-center">{% trans "404" %}</h2>
        <p class="intro text-center">{% trans "Oops! Something went wrong." %} <br>{% trans "The requested page or file may have been moved or deleted." %}</p>
        <div class="center-block">
        <a class="btn btn-cta btn-cta-secondary" href="{% url 'home' %}">{% trans "Back to Home" %}</a>
        </div>
    </div><!--//container-->
  </section><!--//contact-section-->
{% endblock %}